@media screen and (max-width: 767px) {
    .aside-article {
        margin: 0px 16px;
    }

    .profile {
        text-align: center;
        margin-bottom: 16px;
    }
    
    .ranking-article {
        margin: 16px;
    }

    .ranking-title {
        text-align: center;
    }

    .archive {
        margin: 0px 16px 16px 16px;
    }

    .archive-title {
        text-align: center;
    }

    .archive li:first-child {
        border-top: 1px solid rgb(46, 46, 46);
    }

    .archive li {
        padding: 16px;
        border-bottom: 1px solid rgb(46, 46, 46);
    }
}

@media screen and (min-width:768px) {
}

@media screen and (min-width: 1024px) {
}