@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

* {
    color: #000;
    font-family: 'Noto Sans Japanese', sans-serif;
}

body {
    max-width: 1200px;
    padding-top: 100px;
}

ul {
    list-style: none;
}