@media screen and (max-width: 767px) {
    /* グローバルナビゲーションのメニューは1200pxの中におさめます。 */
    header {
        /* PC、スマホ時ともに固定 */
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 111;
        transition: padding .3s;
        padding-bottom: 100px;
    }

    .header-contents {
        width: 100%;
        height: 20px;
        align-items: center;
    }

    .header-contents nav {
    }

    .header-contents ul {
        display: flex;
        color: #fff;
        background-color: #000;
    }

    .header-contents ul li {
        margin-left: 20px;
        color: #fff;
        background-color: #000;
    }
}

@media screen and (min-width:768px) {
}

@media screen and (min-width: 1024px) {
}








