@media screen and (max-width: 767px) {
    main {
        margin: 0px 16px;
    }

    .main-article {
        display: block;
        text-align: center;
        margin: 0px 0px 16px 0px;
    }

    .main-text {
        text-align: center;
    } 
}

@media screen and (min-width:768px) {
    .container {
        display: flex;
        justify-content: space-between;
        margin: 16px;
    }

    main {
        width: 65%;
    }

    .main-article {
        display: block;
        text-align: center;
        margin: 0px 0px 16px 0px;
    }

    .main-text {
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        display: flex;
        justify-content: space-between;
        margin: 16px;
    }

    main {
        width: 65%;
    }

    .main-article {
        display: block;
        text-align: center;
        margin: 0px 0px 16px 0px;
    }

    .main-text {
        text-align: center;
    }
}