@media screen and (max-width: 767px) {
    .pickup {
    }
    
    .article {
        text-align: center;
        margin: 0px 16px 16px 16px;
    }

    .article-sentence {
        text-align: center;
    }

    .read-more {
        text-align: center;
    }
}

@media screen and (min-width:768px) {
    .pickup {
        display: flex;
        justify-content: space-between;
    }
    
    .article {
        width: 33%;
        text-align: center;
        margin: 0px 16px 16px 16px;
    }

    .article-sentence {
        text-align: center;
    }

    .read-more {
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
}